{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -mx-4 -my-8">

                {% for post in posts %}
                    {{ include('post/post.html.twig', [post]) }}
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
